@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

html, body{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
}

label{
  display: none;
}
input{
  padding:  0.8rem 1.2rem;
  border-radius: 4px;
  border: 1px solid #efefef;
}
.container{
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
}

.row{
  display: flex;
  &--center{
    justify-content: center;
  }
  &--sa{
    justify-content: space-around;
  }
  &--sb{
    justify-content: space-between;
  }
}

.c-warning{
  color: $red;
}
.c-success{
  color: $green;
}


@media (max-width: 768.98px){
  html{
    font-size: 6px;
  }
}
